/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
html.with-featherlight{overflow:hidden}.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483647;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:rgba(0,0,0,0)}.featherlight:last-of-type{background:rgba(0,0,0,.8)}.featherlight:before{content:'';display:inline-block;height:100%;vertical-align:middle}.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px 0;border-bottom:25px solid transparent;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}.featherlight .featherlight-inner{display:block}.featherlight link.featherlight-inner,.featherlight script.featherlight-inner,.featherlight style.featherlight-inner{display:none}.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font-family:Arial,sans-serif;background:#fff;background:rgba(255,255,255,.3);color:#000;border:0;padding:0}.featherlight .featherlight-close-icon::-moz-focus-inner{border:0;padding:0}.featherlight .featherlight-image{width:100%}.featherlight-iframe .featherlight-content{border-bottom:0;padding:0;-webkit-overflow-scrolling:touch}.featherlight iframe{border:0}.featherlight *{box-sizing:border-box}@media only screen and (max-width:1024px){.featherlight .featherlight-content{margin-left:0;margin-right:0;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}@media print{html.with-featherlight>*>:not(.featherlight){display:none}}
/* Variables */
/* Colors */
.featherlight {
  background: rgba(0, 0, 0, 0.8);
  z-index: 1147483647;
}
.featherlight .featherlight-content {
  background-color: transparent;
}
.featherlight.splash .featherlight-content {
  width: auto;
  max-width: none;
}

.featherlight .featherlight-close-icon {
  top: 25px;
  right: 25px;
}

.popup {
  background-color: #fff;
  display: none;
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
}
.popup .field-wrapper {
  max-width: none;
}
.popup__title {
  color: #004b8d;
  font-size: 2.4rem;
  font-weight: 700;
}
.popup__title--large {
  font-size: 3rem;
}
.popup__title--black {
  color: #000000;
}
.popup.splash-popup img {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
}
.popup--wide {
  max-width: 64rem;
}

/* Variables */
/* Colors */
.mce-container.wysiwyg-error {
  border-color: #990000 !important;
}

.wysiwyg-content h1 {
  color: #004b8d;
  font-size: 3.4rem;
  letter-spacing: 0.1rem;
}
.wysiwyg-content h2 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
}
.wysiwyg-content h3,
.wysiwyg-content h4,
.wysiwyg-content h5,
.wysiwyg-content h6 {
  font-size: 2.6rem;
  letter-spacing: 0.25rem;
  font-weight: 500;
}
.wysiwyg-content p {
  font-size: 2rem;
  margin-top: 0;
}
.wysiwyg-content p.margined {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.wysiwyg-content p.margined-top {
  margin-top: 6rem;
}
.wysiwyg-content p.margined-bottom {
  margin-bottom: 6rem;
}
.wysiwyg-content a {
  color: #000000;
}
.wysiwyg-content strong,
.wysiwyg-content em {
  font-weight: 700;
  font-style: normal;
}
.wysiwyg-content ul,
.wysiwyg-content ol {
  text-align: left;
}
.wysiwyg-content--no-margin h1,
.wysiwyg-content--no-margin h2,
.wysiwyg-content--no-margin h3,
.wysiwyg-content--no-margin h4,
.wysiwyg-content--no-margin h5,
.wysiwyg-content--no-margin h6 {
  margin-bottom: 0;
}
.wysiwyg-content--getting-started a {
  color: #000000;
}

/* Admin Overrides */
#toast-container > div {
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.voyager .modal-order-status .btn.btn-warning {
  background-color: #fabe28;
}
.voyager .btn.btn-primary {
  background-color: #004b8d;
}
.voyager .btn.btn-warning {
  background-color: #2e99cf;
}

.voyager .edit-add > * {
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.voyager .edit-add > .btn {
  color: #ffffff;
  font-size: 15px;
}
.voyager .edit-add > h1 {
  font-size: 33px;
}
.voyager .edit-add > h2 {
  font-weight: bold;
}
.voyager .edit-add > h4 {
  font-size: 20px;
}
.voyager .edit-add .form-group {
  padding-left: 0;
  padding-right: 0;
}
.voyager .edit-add .form-group label {
  font-size: 16px;
  font-weight: 500;
}
.voyager .edit-add .form-group .form-control {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.voyager .edit-add .media-picker .file_link i.icon::before {
  color: #cccccc;
}

.form-search #filters {
  padding: 1px;
  padding-bottom: 10px;
  border: solid 1px #eaeaf1;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #fff;
  display: flex;
}
.form-search #filters label {
  margin-top: 5px;
}
.form-search #filters button {
  margin: 2px 0 2px 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #999;
  padding: 25px 10px 25px 10px;
  border-left: solid 1px #eee;
  right: 20px;
  z-index: 9;
}
.form-search #filters button:hover {
  border: 0;
  box-shadow: none;
  color: #777;
  border-left: solid 1px #ddd;
}

#search-input.has-filters {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#search-input .input-group-btn {
  width: auto;
  position: static;
}
#search-input .input-group-btn > .btn {
  position: static;
  margin: 0;
  border: none;
  padding: 7px 10px;
  background-color: #004b8d;
  color: #ffffff;
}
